# Ignore ./test/old_files folder
test/old_files/

# Ignore all .out files in ./test/
test/*.out

# Ignore ./simcycle + ./sim_funct
sim_cycle
sim_funct

# Ignore SUMMARY_* files
SUMMARY_*

# ignore scratch
scratch.cpp